html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{    
   font-size: 16px;
   font-weight: 400;
   font-family: 'Poppins', sans-serif;
   color: #5C6F87;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    
}
.container{
    width: 1210px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
a {
    text-decoration: none;
    display: inline-block;
}
li {
    display: inline-block;
    text-decoration: none;
}
.header__contacts{
    background-color: #141D28;
    max-height: 60px;
    height: 100%;
}
.header__contacts--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__contacts--tel{
    font-size: 15px;
    line-height: 30px;
    padding-left: 20px;
}
.header__contacts--tel a{
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 790px;
}
.header__contacts--link{
    margin-left: 16px;
}
.header__contacts--social:last-child{
    margin-right: 60px;
}
.header__main{
    background-color: #0C1117;
    max-height: 75px;
    height: 100%;
}
.header__main--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__main--item{
    margin-left: 60px;
    color: #fff;
    letter-spacing: 0.8px;
}
.header__main--menu:last-child{
    margin-right: 55px;
}








font-family: 'Montserrat', sans-serif;