html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{    
   font-size: 16px;
   font-weight: 400;
   font-family: 'Poppins', sans-serif;
   color: #5C6F87;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    
}
.container{
    width: 1210px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
a {
    text-decoration: none;
    display: inline-block;
}
li {
    display: inline-block;
    text-decoration: none;
}
.header__contacts{
    background-color: #141D28;
    max-height: 60px;
    height: 100%;
}
.header__contacts--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__contacts--tel{
    font-size: 15px;
    line-height: 30px;
    padding-left: 20px;
}
.header__contacts--tel a{
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 790px;
}
.header__contacts--link{
    margin-left: 16px;
}
.header__contacts--social:last-child{
    margin-right: 60px;
}
.header__main{
    background-color: #0C1117;
    max-height: 75px;
    height: 100%;
}
.header__main--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__main--item{
    margin-left: 60px;
    color: #fff;
    letter-spacing: 0.8px;
}
.header__main--menu:last-child{
    margin-right: 55px;
}
.advantages {
    background-image: url(../images/advantages-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;  
}
.advantages__title{
    padding-top: 290px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 31px;
}
.advantages__title--number{
    font-size: 140px;
    line-height: 180px;
    color: rgba(255, 255, 255, 0.13);
    margin-right: 53px;
    padding-left: 10px;
}
.advantages__title--text{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 80px;
    color: #fff;
    position: relative;
}
.advantages__title--text span{
    color: #377DFF;
}
.advantages__title--text::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 130px;
    background: #377DFF;
    left: -25px;
    top: 14px;
}
.advantages__text{
    max-width: 611px;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 60px;
}
.advantages__buttons{
    display: flex;
    align-items: center;
    justify-content: start;
}
.start__btn{
    padding: 17px 37px;
    font-size: 16px;
    border: 2px solid #377DFF;
    background-color: #377DFF;
    
}
.learn__btn{
    padding: 17px 37px;
    font-size: 16px;
    border: 2px solid #377DFF;
    
}
.advantages__button--start,
.advantages__button--learn{
    border-radius: 35px;
    margin-right: 14px;
    cursor: pointer;
}
.advantages__button--start a,
.advantages__button--learn a{
    color: #fff;
}
.process__inner--title{
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    color: #141D28;
    margin-bottom: 72px;
    position: relative;
}
.process__inner--title h3 span{
    color: #377DFF;
}
.process__inner--title::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 54px;
    left: 378px;
    top: 0;
    background: #377DFF;
}
.process__inner--items{
    display: flex;
    justify-content: space-around;
}
.process__img{
    width: 180px;
    height: 180px; 
}

.process__img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 16px;
}
.process__inner--item p{
    text-align: center;
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 30px;
    line-height: 30px;
    text-transform: capitalize;
    color: #141D28;
    margin-bottom: 149px;
}
.process__item{
    position: relative;
}
.process__item::before{
    content: url(../images/arrow-down.svg);
    width: 156px;
    height: 26px;
    position: absolute;
    top: 90px;
    left: -178px;
}
.process__item::after{
    content: url(../images/arrow-up.svg);
    width: 156px;
    height: 26px;
    position: absolute;
    top: 70px;
    right: -182px;
}
/* END Process */
/* Start Features */
.features{
    background: #233142;

}
.features__items{
    padding-top: 145px;
    padding-bottom: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.features__item{
    width: 30%;
    padding-left: 60px;
    margin-right: 25px;
    padding-bottom: 60px;
    position: relative;
}
.features__item--title{
    font-family: Montserrat;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 18px;
    font-weight: 400;
}
.features__item--text{
    /* padding-right: 25px; */
    font-size: 16px;
    color: #FFFFFF;
    line-height: 150%;
    width: 290px;
}
.features__item::before{
    content: "";
    width: 50px;
    height: 50px;
    top: -17px;
    left: 0;
    position: absolute;
}
.features__item--first::before{
    background-image: url(../images/features--img-1.svg);
}
.features__item--second::before{
    background-image: url(../images/features--img-2.svg);
}
.features__item--third::before{
    background-image: url(../images/features--img-3.svg);
}
.features__item--fourth::before{
    background-image: url(../images/features--img-4.svg);
}
.features__item--fifth::before{
    background-image: url(../images/features--img-5.svg);
}
.features__item--sixth::before{
    background-image: url(../images/features--img-6.svg);
}
/* End features */
/* Start Workers */
.workers__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 145px;
}
.workers__view{
    width: 300px;
    
    padding: 120px 15px 175px 15px ;
    margin-right: 13px;
}
.workers__view--title{
    position: relative;
}
.workers__view h3{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: Montserrat;
    line-height: 46px;
    color: #141D28;
    letter-spacing: 1px;
    padding: 6px 52px 2px 28px;
    margin-bottom: 70px;   
}
.workers__view span{
    color: #377DFF;
}
.workers__view--title::before{
    content: "";
    width: 3px;
    height: 100px;
    position: absolute;
    background: #377DFF;;
}
.workers__btn{
    padding: 15px 35px;
    border: 2px solid #377DFF;
    max-width: 165px;
    text-align: center;
    max-height: 50px;
}
.workers__btn a{
    color: #141D28;
    text-transform: capitalize;    
    cursor: pointer;
    line-height: 16px;
    font-size: 16px;    
}
.workers__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -20px;
}
.workers__item{
    position: relative;
    margin-right: 5px;
}
.workers__image{
    width: 100%;
    max-height: 357px;
    margin-bottom: 35px;
    position: relative;
}
/* .workers__image::before{
    content: url(../images/workers--socail.svg);
    position: absolute;
    width: 287px;
    height: 50px;
    bottom: 0;
    left: 0;
    background: #377DFF;
    opacity: 0.9;
} */
.workers__item--title{
    text-align: center;
    font-family: Montserrat;
    line-height: 34px;
    letter-spacing: 1px;
    color: #141D28;
    font-size: 26px;
    margin-bottom: 9px;
}
.workers__item--text{
    text-align: center;
    font-family: Poppins;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5C6F87;
    font-size: 14px;
    margin-bottom: 50px;
}
/* End Workers */




.footer__main{
    background-color: #141D28;
    color: #fff;
    line-height: 30px;
}
.footer__main--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__main--about,
.footer__main--post,
.footer__main--contacts{
    margin-top: 100px;
    margin-bottom: 190px;
    max-width: 370px;
}
.footer__main-title{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #377DFF;
    font-style: normal;
    margin-bottom: 60px;
}
.footer__main--text{
    margin-bottom: 45px;
}
.footer__main--social{
    align-items: center;
    justify-content: start;
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer__main--link{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer__main--post:last-child{
    border-bottom: none;
}
.footer__main--item{
    margin-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #343D48;
    position: relative;
}

.footer__main--item::before{
    content: "";
    position: absolute;
    background-image: url(../images/arrow-right.svg);
    color: #377DFF;
    width: 24px;
    height: 24px;
    left: -10px;
    top: 3px;
}
.footer__main--last{
    border-bottom: none;
}
.footer__adress,
.footer__phone,
.footer__mail{
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}
.footer__adress::before,
.footer__phone::before,
.footer__mail::before{
    content: "";
    position: absolute;
    color: #377DFF;
    width: 34px;
    height: 22px;
    left: -5px;
    top: 5px;
}
.footer__adress::before{
    background-image: url(../images/location.svg);
    background-repeat: no-repeat;
}
.footer__phone::before{
    background-image: url(../images/call.svg);
    background-repeat: no-repeat;
}
.footer__mail::before{
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
}
.footer__mail{
    margin-bottom: 15px;
}


.footer__copy{
    background-color: #233142;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-top: 17px;
    padding-bottom: 23px;
    letter-spacing: 4px;
}
